<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbcConfig.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--全局配置懒加载-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!--开启二级缓存，默认是开启状态，false为关闭二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.dfbz.entity"/>
    </typeAliases>

    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <!-- 用户名 -->
                <property name="username" value="${jdbc.username}"/>
                <!-- 密码 -->
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/dfbz/dao/StudentDaoMapper.xml"/>
        <!--<mapper class="com.dfbz.dao.StudentDao"/>-->
        <mapper resource="com/dfbz/dao/TbResultMapper.xml"/>
        <!--<mapper class="com.dfbz.dao.TbResultDao"/>-->
    </mappers>
</configuration>